
/* The animation code */
@keyframes package-down-left {
  0% {
		top: 5px;
		right: 83px;
	}
	50% {
		top: 770px;
		right: 83px;
	}
	100% {
		top: 770px;
		right: 1143px;
	}
}

/* The element to apply the animation to */
.animate {
  animation-name: package-down-left;
  animation-duration: 4s;
}

.animate-package {
	transition: left 0.5s, right 0.5s, top 0.5s, bottom 0.5s;
}