@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {margin: 0; height: 100%; overflow: hidden}

@layer components {
  .page-section {
    @apply w-full h-screen snap-start;
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
